
$background-color: #fbf9f0;

$text-color: #34271a;
$text-color-dark: #1b0f03;
$header-color: #363f68;

$quote-color: #e5e7f2;
$quote-border-color: #a1a3b4;

$action-color: #0D7D3E;
$action-selected-color: #3dd381;

$menu-background: #362110;
$menu-text-color: #fbfbfc;
$menu-selected-background: #ce2965;


$footer-action-color: #0ECD61;
$footer-action-selected-color: #73F2AE;


* {
    margin: 0 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: justify;
    line-height: 1.5;
    color: $text-color;
    background-image: url("/images/background_lowres.jpg");
    background-repeat: repeat;
    background-size: 2048px, 2048px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: bold;
}


main {
    width: 85%;
    padding-top: 4em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 4em;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    flex: 1 0 auto;
}

main.article {
    background: $background-color;
    border-radius: 4px;
    h1, h2, h3 {
        color: $header-color;
    }
    strong {
        color: $text-color-dark;
    }
    h1 {
        margin-bottom: 0em;
        font-size: 2.4em;
    }
    h2 {
        margin-top: 1.1em;
        margin-bottom: 0.4em;
    }
    h3 {
        margin-top: 0.6em;
        margin-bottom: 0.2em;
    }
    a {
        color: $action-color;
        &:hover {
            color: $action-selected-color;
        }
    }
    blockquote {
        display: inline-block;
        background-color: $quote-color;
        border-left: 3px solid $quote-border-color;
        border-radius: 0 8px 8px 0;
        margin: 1em 0;
        padding: 0.2em 1.8em 0.2em 1.2em;
        font-style: italic;
    }
    .publishdate {
        text-align: right;
        margin-bottom: 1em;
    }
    p {
        margin: 0.7em auto;
    }
    img {
        max-width: 100%;
    }
}

main.accueil {
    background: transparent;
    color: $menu-text-color;
    text-align: center;
    // background: rgba(0, 0, 0, 0.4);
    h1 {
        color: $background-color;
        font-size: 5em;
        margin-bottom: 0.3em;
    }
    h2 {
        // box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4);
        // background: rgba(0, 0, 0, 0.4);
        font-size: 1.3em;
        font-weight: normal;
        border-radius: 3px;
        margin-bottom: 1.8em;
    }
    section {
        display: inline-block;
        margin: 0 2em;
        vertical-align: top;
        h3 {
            font-size: 2.2em;
        }
    }
}

main.article-list {
    background: transparent;
    h1 {
        text-align: center;
        font-size: 3.5em;
        color: $menu-text-color;
        margin-bottom: 0.4em;
    }

}

ul.articlebtnlist {
    list-style-type: none;
    padding: 0;
    li a {
        display: block;
        background: $menu-background;
        border-radius: 8px;
        margin-bottom: 8px;
        padding: 10px 20px;
        font-size: 1.2em;
        color: $menu-text-color;
        border: 2px solid black;
        &:hover {
            background: $menu-selected-background;
        }
    }
}

nav {
    margin-bottom: 20px;
    background: $menu-background;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 9px 3px 3px;
}

nav .nav-logo {
    font-size: 1.4em;
    font-weight: bold;
    a {
        display: inline-block;
        color: $menu-text-color;
        padding: 10px 10px;
    }
    margin-right: 10px;
}

nav menu {
    list-style: none;
    margin-left: 10px;
    text-align: right;

    li {
        display: inline-block;
        a {
            display: inline-block;
            color: $menu-text-color;
            background: transparent;
            border-radius: 5px;
            padding: 10px 20px;

            font-weight: bold;
            &:hover {
                background: $menu-selected-background;
            }
        }
    }
}

footer {
    background: $menu-background;
    color: $menu-text-color;
    padding-top: 4em;
    padding-bottom: 2em;
    font-size: 1em;
    text-align: center;
    flex-shrink: 0;
    a {
        color: $footer-action-color;
        font-weight: bold;
        &:hover {
            color: $footer-action-selected-color;
        }
    }
}
