{{ define "main" }}
 <main class="accueil">
    <h1>La cabane du libre</h1>

    <h2>Un blog pour s’informer sur l’informatique et découvrir l’univers des logiciels libre</h2>

    <section>
        <h3>Pour commencer</h3>

        <ul class="articlebtnlist">
            <li>
                <a href="/articles/univers_du_libre/">
                Le libre, c’est quoi ?
                </a>
            </li>
        </ul>
    </section>

    <section>
        <h3>Derniers articles</h3>

        <ul class="articlebtnlist">
        {{ range first 2 ( where .Site.Pages.ByDate "Type" "articles" ) }} 
            <li>
              <a href="{{ .Permalink }}">
                  <!-- <time>{{ .Date | time.Format "2006-01-02" }}</time> – {{ .Title }} -->
                  {{ .Title }}
              </a>
            </li>
        {{ end }}
        </ul>
    </section>

 </main>
{{ end }}
