<!doctype html>
<html lang="fr">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="{{ .Page.Title }}">

 <title>{{ .Site.Title }} | {{ .Page.Title }}</title>

 {{ $css := resources.Get "scss/main.scss" | toCSS }}
 <link rel="stylesheet" href="{{ $css.RelPermalink }}">

</head>

<body>
 {{ partial "nav.html" }}

 {{ block "main" . }}
 {{ end }}

 {{ partial "footer.html" }}
</body>
</html>
