<footer>
    <p>
    L'intégralité du contenu hébergé sur le site cabanedulibre.frama.io est placé sous licence <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC By-Sa 4.0</a>
    <br>
    🄯 2023 – Baptiste Lambert
    </p>
</footer>
