<nav>
    <div class="nav-logo">
        <a href="/">La cabane du libre</a>
    </div>
    <menu>
        <li><a href="/">Accueil</a></li>
        <li><a href="/articles/">Articles</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/about/">À propos</a></li>
    </menu>
</nav>
