{{ define "main" }}
  <main class="article-list">
  <section>
  <h1>Tous les articles</h1>
  <ul class="articlebtnlist">
  {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">
          <time>{{ .Date | time.Format "2006-01-02" }}</time> – {{ .Title }}
      </a>
    </li>
  {{ end }}
  </ul>
  </section>
  </main>
{{ end }}
