{{ define "main" }}
 <main class="article">
 <article>
 <h1>{{ .Params.Title }}</h1>

 <p class="publishdate">Publié: {{ .Date.Format "2006-01-02" }}</p>

 {{ .Content }}
 </article>
 </main>
{{ end }}
